<form>
  <input type="text" placeholder="your name" ng-model="words.name">
  <input type="text" placeholder="your age" ng-model="words.age">
  <input type="text" placeholder="your talent, ending with 'ing'" ng-model="words.ing">
  <input type="text" placeholder="your favorite show" ng-model="words.favShow">
  <input type="text" placeholder="your celebrity crush" ng-model="words.loveInt1">
  <input type="text" placeholder="famous person" ng-model="words.famPers1">
  <input type="text" placeholder="famous person" ng-model="words.famPers2">
  <input type="text" placeholder="another celebrity crush" ng-model="words.loveInt2">
  <input type="text" placeholder="noun" ng-model="word.noun">

  <button type="button" ng-click="submitWords(words)">send</button>
</form>
